<div>
  <div class="modal-header">
    <h3 class="modal-title" translate="products.Title"></h3>
  </div>
  <div class="modal-body">
    <form ng-app="myApp" name="myForm" novalidate>

      <p> <span translate="products.Name" />: <span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid || myForm.name.$untouched">
              <span ng-show="myForm.name.$error.required">*</span>
        </span>
        <br>
        <input type="text" class="form-control" name="namze" ng-model="product.name" required>
      </p>

      <p> <span translate="products.Price" />:<span style="color:red" ng-show="myForm.price.$dirty && myForm.price.$invalid || myForm.price.$untouched">
          <span ng-show="myForm.price.$error.required">*</span>
        </span>
        <br>
        <input type="number" step="1" min="0" class="form-control" name="price" ng-model="product.price" required>
      </p>

      <p> <span translate="products.ImagePath" />:
        <span style="color:red" ng-show="myForm.imagePath.$dirty && myForm.imagePath.$invalid || myForm.imagePath.$untouched">
          <span ng-show="myForm.imagePath.$error.required">*</span>
        </span>
        <br>
        <input type="text" class="form-control" name="imagePath" ng-model="product.imagePath" required>
      </p>

      <div class="modal-footer">
        <input class="btn btn-primary" type="submit" ng-click="onOk(seller)" translate="shared.OK" ng-disabled="myForm.name.$dirty && myForm.name.$invalid ||  myForm.price.$dirty && myForm.price.$invalid ||  myForm.imagePath.$dirty && myForm.imagePath.$invalid || myForm.price.$untouched && myForm.name.$untouched  && myForm.imagePath.$untouched">
        <button class="btn btn-warning" type="button" ng-click="onCancel()" translate="shared.Cancel"></button>
      </div>

    </form>
  </div>
