<div class="Sellers">

  <div ng-show="isLoading">
    <loading-message></loading-message>
  </div>

  <header class="intro"></header>

  <div class="row shopps">
    <h1 translate="sellers.Title"></h1>
    <button type="button" class="btn btn-primary btn-lg" ng-click="onAddSeller()" translate="sellers.Add"></button>
    <div class="col-lg-6">
      <table>
        <tr table-sort="name">
          <th data-columnName="name" class="nameOfSellers">
            <a ng-click="sortBy = 'name'; ascending = !ascending" class="tableHeader">
              <span translate="sellers.NameOfSellers" />
              <span ng-show="ascending == false && sortBy == 'name'" class="glyphicon glyphicon-triangle-bottom"></span>
              <span ng-show="ascending == true && sortBy == 'name'" class="glyphicon glyphicon-triangle-top"></span>
            </a>
          </th>
          <th data-columnName="category" class="category">
            <a ng-click="sortBy = 'category'; ascending = !ascending" class="tableHeader">
              <span translate="sellers.Category" />
              <span ng-show="ascending == false && sortBy == 'category'" class="glyphicon glyphicon-triangle-bottom"></span>
              <span ng-show="ascending == true && sortBy == 'category'" class="glyphicon glyphicon-triangle-top"></span>
            </a>
          </th>
        </tr>

        <tr ng-repeat="seller in sellers | orderBy:predicate:ascending">
          <td class="nameOfSellers"> <a ng-href="#/{{seller.id}}"> {{seller.name}}  </a></td>
          <td class="category">{{seller.category}}</td>
          <td>
            <button type="button" class="btn btn-primary btn-xs" ng-click="onEditSeller(seller)" translate="sellers.Edit"></button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-lg-6">
    </div>
  </div>
</div>
