<div ng-controller="SellersController">
        <div class="modal-header">
            <h3 class="modal-title">Add Seller</h3>
        </div>
        <div class="modal-body">
          <form class="form-horizontal modal-body">
          <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" ng-model="sellerInfo.SellerName" />
          </div>
          <div class="form-group">
            <label>Category:</label>
            <input type="text" class="form-control" ng-model="sellerInfo.SellerCategory" />
          </div>
          <div class="form-group">
            <label>imagePath:</label>
            <input type="text" class="form-control" ng-model="sellerInfo.SellerimagePath" />
          </div>
          <div class="validation-message">
            {{validationMessage}}
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit" ng-click="ok(sellerInfo)">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
      </form>
</div>
