<div>
  <div class="modal-header">
    <h3 class="modal-title" translate="sellers.Title"></h3>
  </div>
  <div class="modal-body">
    <form ng-app="myApp" name="myForm" novalidate>

      <p> <span translate="sellers.Name" />: <span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid || myForm.name.$untouched">
            <span ng-show="myForm.name.$error.required">*</span>
        </span>
        <br>
        <input type="text" class="form-control" name="name" ng-model="seller.name" required>

      </p>

      <p> <span translate="sellers.Category" />:<span style="color:red" ng-show="myForm.name.$dirty && myForm.category.$invalid || myForm.category.$untouched">
        <span ng-show="myForm.category.$error.required">*</span>
        </span>
        <br>
        <input type="text" class="form-control" name="category" ng-model="seller.category" required>
      </p>

      <p> <span translate="sellers.ImagePath" />:
        <span style="color:red" ng-show="myForm.imagePath.$dirty && myForm.imagePath.$invalid  || myForm.imagePath.$untouched">
        <span ng-show="myForm.imagePath.$error.required">*</span>
        </span>
        <br>
        <input type="text" class="form-control" name="imagePath" ng-model="seller.imagePath" required>
      </p>

      <div class="modal-footer">
        <input class="btn btn-primary" type="submit" ng-click="onOk(seller)" translate="shared.OK" ng-disabled="myForm.name.$dirty && myForm.name.$invalid ||  myForm.category.$dirty && myForm.category.$invalid||  myForm.category.$dirty && myForm.imagePath.$invalid || myForm.category.$untouched && myForm.name.$untouched  && myForm.imagePath.$untouched">
        <button class="btn btn-warning" type="button" ng-click="onCancel()" translate="shared.Cancel"></button>
      </div>

    </form>
  </div>
