<div class="sellersDetails">

  <div class="details">
    <img class="SellerImage" src="{{sellersDetails.imagePath }}">
    <div class="row details-text">
      <div class="details-name">
        <h2>{{sellersDetails.name }}  </h2>
      </div>
      <div class="details-category">
        <p>{{sellersDetails.category}}</p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="addButton">
      <button type="button" class="btn btn-primary btn-lg" ng-click="onAddProduct()" translate="products.Add"></button>
    </div>
  </div>

  <div class="row tabs products">
    <uib-tabset active="active">
      <uib-tab index="0" heading="Products">
        <products-tab></products-tab>
      </uib-tab>
      <uib-tab index="1" heading="Top 10 products">
        <top-products></top-products>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
