<div ng-controller="HeaderController" class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="title">
      <h3 ><span translate="sellers.NameOfWebpage"</h3>
  </div>
    <button type="button" name="back" class="btn btn-primary btn-s ng-scope backButton" ng-click="goBack()" translate="shared.Back"></button>
    <img class="flags" ng-show="lang == 'en'" ng-click="changeLanguage('is')" translate="shared.ISL" src="http://www.visindavefur.is/myndir/islenski_faninn_040810.JPG" alt="Description"/>
    <img class="flags" ng-show="lang == 'is'" ng-click="changeLanguage('en')" translate="shared.EN" src="http://vignette1.wikia.nocookie.net/mortalengines/images/b/b6/English_flag.png/revision/latest?cb=20100614220751" alt="Description"/>
</div>
